body{
    background-color: rgb(48, 47, 46);

}
.A{
    color:goldenrod;
    text-align: center;
    font-size: xx-large;
    

}
.D{
    color:goldenrod;
    
}
.E{
    color:bisque;
    padding-top: px;
    text-align: center;

}